html{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    user-select: none;
}

body{
    color: whitesmoke;
    background: #002147;
}

.container{
    margin: 10%;
    max-width: 700px;
    width: 90%;
}

.container h1{
    font-weight: 600;
}

.container span{
    color: rgb(25, 217, 115);
    border-bottom: solid 4px;
    border-radius: 10%;
}

.display{
    margin: 30px 0px;
    width: 75%;
    background-color: whitesmoke;
    padding: 20px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.display img{
    width: 30px;
    cursor: pointer;
}

.display input{
    outline: 0;
    border: 0;
    font-size: 21px;
    background-color: whitesmoke;
}

button{
    cursor: pointer;
    color: whitesmoke;
    font-size: 16px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 8px 36px;
    background-color: rgb(25, 217, 115);
    border: none;
    border-radius: 5px;
}

button img{
    width: 25px;
}

button:active{
    background-color: whitesmoke;
    color: rgb(25, 217, 115);
}

button:hover{
    opacity: 95%;
}